* {
    padding: 0;
    margin: 0;
}

footer {
    background-color: #7f7f7f;
    display: flex;
    justify-content: space-between;
    padding: 2rem 6rem 2rem 4rem;
}

.footerLeftGroup{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.social-icon{
    display: flex;
    gap: 1rem;
}

.footerRightGroup  {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}


.footerRightGroup > ul {
    list-style-type: none;
    line-height: 1.5rem;
}

.menuHead {
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}