@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
  --color-primary: #1E3A8A;   /* Deep Blue */
  --color-accent: #F97316;    /* Orange */
  --color-secondary: #FACC15; /* Soft Yellow */
  --color-bg: #F3F4F6;        /* Light Gray */
  --color-text: #1F2937;      /* Charcoal */
  --color-button: #2563EB;    /* CTA Blue */
  --color-button-hover: #1D4ED8; /* Darker CTA Blue */
}

.logo {
  width: 120px;
  height: auto;
}


.rightSide {
    gap: 2rem;
}

nav input {
    height: 1.8rem;
    font-size: 1.2rem;    
}